.calendar-day{
    width: 100px;
    height: 100px;
    max-width: 100px;
    min-width: 100px;
}

.calendar-table {
    margin: 0 auto;
    width: 100%;
}

.fc-day-grid-event > .fc-content {
    white-space: normal;
}

.fc-event-time, .fc-event-title {
    padding: 0 1px;
    white-space: normal;
    }
