<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>
  <!-- FullCalendar Main CSS -->
  <link href='https://unpkg.com/fullcalendar@5/main.min.css' rel='stylesheet' />

  <!-- FullCalendar Main JS -->
  <script src='https://unpkg.com/fullcalendar@5/main.min.js'></script>
  <link rel="stylesheet" type="text/css" href="/cdn/css/lecturer_dashboard.css">
</head>

<body>
  <header>
    <%- include('./partials/navbar'); %>
  </header>
  <h1>Lecturer dashboard</h1>
  <p>
    <select id="options" onchange="storeOption()">
      <option value="">-- No. of Students --</option>
    </select>
  <ul id='numberList'></ul>
  </p>
  <button type="button" id="showConsultation">Show Consultations</button>
  <button type="button" id="cancelConsultation">Cancel Consultation</button>
  <div id="calendar"></div>
  <script src="/cdn/scripts/lecturer_dashboard.js"></script>
  <select id="consultations">
    <option value="">-- Select Consultation --</option>
  </select>
  <footer>
    <%- include('./partials/footer'); %>
  </footer>
</body>

</html>