<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <h1>You are not a member of this organization or have yet to login.</h1>
  <p>
    Please sign up as a student or lecturer using your organization account!
  </p>
  <p>
    <a href="./loginorsignup">click here</a> and you will be redirected. Logout and login with the correct details
  </p>
</body>

</html>