<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>
  <link rel="stylesheet" type="text/css" href="/cdn/css/notAMember.css">
  <title>Document</title>
</head>

<body>
  <div aria-live="polite" aria-atomic="true" style="position: relative; min-height: 600px;">
    <!-- Position it -->
    <div style="position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%);">
      <div class="toast show" auto id="loginAlert">
        <div class="toast-header">
          <strong class="me-auto"><i class="bi bi-exclamation-circle"></i> Error </strong>
          <!-- <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button> -->
        </div>
        <div class="toast-body">
          <div>
            <strong>Invalid Credentials</strong>
            <p> To login as a student use your student email account (domain: @students.wits.ac.za) and to login as
              a lecturer please use your
              university lecturer account (domain: @wits.ac.za)
            </p>
          </div>
          <!-- AuthZero -->
          <div>To logout then login please <a href="/logout">click here!</a></div>
        </div>
      </div>
    </div>
  </div>
  <!-- <script src="/cdn/scripts/login.js"></script> -->
</body>

</html>