<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-timepicker/0.5.2/css/bootstrap-timepicker.min.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
  <link rel="stylesheet" type="text/css" href="/cdn/css/settings.css">
</head>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>
<title>Document</title>
</head>

<body>
  <header>
    <%- include('./partials/navbar'); %>
  </header>
  <div class="container" style="padding-top:3em; padding-bottom:5em;  max-width: 500px;
  ">
    <h2>Specify a consultation period</h2>
    <form id="consPeriod">
      <div class="form-group">
        <label for="dayOfWeek">Day of the Week</label>
        <select class="form-control" id="dayOfWeek">
          <option>Monday</option>
          <option>Tuesday</option>
          <option>Wednesday</option>
          <option>Thursday</option>
          <option>Friday</option>
        </select>
      </div>
      <div class="form-group">
        <label for="timeRange">Start and End Time</label>
        <input type="text" class="form-control" id="timepicker" name="start_time" placeholder="HH:MM AM/PM">
        <p></p>
        <input type="text" class="form-control" id="timepicker" name="end_time" placeholder="HH:MM AM/PM">
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <p></p>
    <h4>Current periods:</h4>
    <ul id="entryList"></ul>

    <h2>Consultation settings</h2>
    <form id="maximumStudents">
      <div class="form-group">
        <label for="numberPicker">Specify the max number of students per consultation</label>
        <div class="input-group">
          <input type="number" class="form-control" id="numberPicker" name="maxStudents" min="0" max="100" value="0">
          <div class="input-group-append">
            <button type="submit" class="btn btn-secondary">Update</button>
          </div>
        </div>
      </div>
    </form>
    <form id="maximumConsultations">
      <div class="form-group">
        <label for="numberPicker">Specify the max number of consulatations per period/day</label>
        <div class="input-group">
          <input type="number" class="form-control" id="numberPicker" name="maxConsultations" min="0" max="100"
            value="0">
          <div class="input-group-append">
            <button type="submit" class="btn btn-secondary">Update</button>
          </div>
        </div>
      </div>
    </form>
    <form id="maximumDuration">
      <div class="form-group">
        <label for="durationPicker">Select max duration of a consultation (in minutes):</label>
        <div class="input-group">
          <select class="form-control" id="durationPicker" name="maxDuration">
            <% for (let i=0; i <=120; i +=15) { %>
              <option value="<%= i %>">
                <%= i %> minutes
              </option>
              <% } %>
          </select>
          <div class="input-group-append">
            <button type="submit" class="btn btn-secondary">Update</button>
          </div>
        </div>
      </div>
    </form>
  </div>

  <!-- Include the JavaScript files for jQuery and the timepicker plugin -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-timepicker/0.5.2/js/bootstrap-timepicker.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>


  <footer>
    <%- include('./partials/footer'); %>
  </footer>
  <script src="/cdn/scripts/settings.js"></script>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-timepicker/0.5.2/js/bootstrap-timepicker.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>