<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Student Dashboard</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>
  <link rel="stylesheet" type="text/css" href="/cdn/css/student_dashboard.css">
</head>

<body>
  <div class="container mt-5">
    <h1>Student dashboard</h1>
    <% if (locals.isAuthenticated) { %>
      <h2 class="text-4xl mb-10">Welcome <%= user.given_name%></h2>
    <% } %>
    <div class="dropdown mb-4" style="margin-bottom: 2rem;">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="teacherListDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Select Teacher
      </button>
      <select class="dropdown-menu" aria-labelledby="teacherListDropdown" id="teacherList"></select>
    </div>
    <div id="consultationSlots" style="padding-top: 3rem;"></div>
  </div>
  <script src="/cdn/scripts/student_dashboard.js"></script>
</body>
</html>
